<div class="container-fluid form-background justify-content-center">
  <div class="col-3 form-col align-self-center">
    <div class="row form-center">
      <div class="col-12 form-header-text">Atrybuty Quizu</div>
    </div>
    <div class="row form-center align-items-center">
      <div class="col-12 inputs">
        <form [formGroup]="quizForm" (keyup.enter)="createQuiz()">
          <mat-form-field class="full-width">
            <input matInput
                   formControlName="title"
                   placeholder="Nazwa Quizu"
                   type="text"
                   maxLength="25"
                   class="text-area"/>
          </mat-form-field>
          <div class="full-width">
            <input type="checkbox" formControlName="mailRequired"/>
             Czy adres email ma być wymagany?
          </div>
          <div class="full-width">
            <input type="checkbox" formControlName="telephoneNumberRequired"/>
            Czy telefon ma być wymagany?
          </div>
        </form>
      </div>
    </div>
    <div class="row form-center">
      <div class="col-12 form-btn">
        <button mat-button (click)="createQuiz()" [disabled]="quizForm.invalid">Zatwierdź</button>
      </div>
    </div>
  </div>
</div>
