@import "../../../variables";

.help-container {
  display: flex;
  position: absolute;

  .help-menu {
    position: fixed;
    background-color: $primary;
    width: 20vw;
    padding-top: 2vh;
    min-height: 100%;
    color: white;

    a {
      color: white;
    }
  }

  .help-content {
    text-align: justify;
    background-color: $secondary-light;
    margin-left: 20vw;
    min-height: 100%;
    padding: 2vh 2vw;
  }
}
