<form [formGroup]="questionForm">
  <div formGroupName="question">
    <input
      formControlName="value"
      type="text"
      maxLength="25" />
  </div>

  <div formArrayName="answers"
       *ngFor="let answer of formAnswers.controls; let i = index;">
    <div [formGroupName]="i">
      <input formControlName="value" placeholder="Item name">
    </div>
  </div>
</form>


<button (click)="addAnswer()">+</button>

<button (click)="removeLastAnswer()">-</button>


<button class="btn" (click)="submitForm()" [disabled]="questionForm.invalid">Add question</button>
