<app-header-bar></app-header-bar>
<div class="container-fluid form-background justify-content-center">
  <div class="col-3 form-col align-self-center">
    <div class="row form-center">
      <div class="col-12 form-header-text">Wprowadź swoje dane</div>
    </div>
    <div class="row form-center align-items-center">
      <div class="col-12 inputs">
        <form [formGroup]="playerForm">
          <mat-form-field class="full-width">
            <input matInput
                   formControlName="name"
                   placeholder="Imię"
                   type="text"
                   maxLength="25"
                   class="text"/>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput
                   formControlName="surname"
                   placeholder="Nazwisko"
                   type="text"
                   maxLength="25"
                   class="text"/>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput
                   formControlName="mail"
                   placeholder="Adres e-mail"
                   type="text"
                   maxLength="25"
                   class="text"/>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput
                   formControlName="telephoneNumber"
                   placeholder="Numer tel."
                   type="text"
                   maxLength="25"
                   class="text"/>
          </mat-form-field>
        </form>
      </div>
    </div>
    <div class="row form-center">
      <div class="col-12 form-btn">
        <button mat-button (click)="createPlayer()" [disabled]="playerForm.invalid">Rozpocznij Quiz</button>
      </div>
    </div>
  </div>
</div>
<app-footer-bar></app-footer-bar>

