<table class="table table-striped question-table">
  <thead>
  <tr>
    <th scope="col">Treść pytania</th>
    <th scope="col">Akcje</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let question of questions | async ">
    <td>{{question.question.value}}</td>
    <td>
      <a [routerLink]="['/admin/quiz', quizId, 'edit-question', question.question.questionId]">
        <i class="fa fa-cogs list-icon" title="Edytuj pytanie"></i>
      </a>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <a [routerLink]="['/admin/quiz', quizId, 'new-question']">
        <i class="fa fa-plus-circle new-quiz-btn" title="Dodaj nowe pytanie"></i>
      </a>
    </td>
  </tr>
  </tbody>
</table>
