@import '../../../variables';

.new-quiz-btn {
  color: $primary-light;
  font-size: 25pt;
}

.question-table {
  text-align: center;
}

.list-icon {
  margin: 0 10px;
  font-size: 14pt;
  color: $primary-light;
}

a:hover{
  text-decoration: none;
}
