$fa-font-path : '../node_modules/font-awesome/fonts';

/* THEME COLORS */

//primary - blue
$primary-light: #06a7ea;
$primary: #02344a;
$primary-dark: #022a3b;

//secondary - white-o-greyish
$secondary-light: #f0f0f0;
$secondary: #bebebe;
$secondary-dark: #707070;
